<div class="main">
  <div class="new-note">
    <textarea
      class="new-note__text"
      [formControl]="formGroup.controls.text"
      placeholder="Add a Note"
    ></textarea>
    <div class="new-note__types">
      @for(noteType of NoteTypes; track noteType) {
        <div class="type-radio">
          <input 
            [id]="noteType"
            type="radio"
            [formControl]="formGroup.controls.type"
            [value]="noteType"
          >
          <label [for]="noteType"><img [src]="'./assets/icons/' + noteType" [alt]="noteType"></label>
        </div>
      }
    </div>
    <button class="new-note__submit" type="submit" (click)="submitNote()">Submit</button>
  </div>
  <div class="notes-list">
    @for(note of (notes$ | async); track note) {
      <app-note
        [note]="note"
      ></app-note>
    }
  </div>
</div>